<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_mxpP9XfdBDHDKo8rlrfc028oN95T4G0</string>
	<key>GCM_SENDER_ID</key>
	<string>782405677196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.resumewithus</string>
	<key>PROJECT_ID</key>
	<string>quizapp-fa313</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-fa313.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782405677196:ios:5b9d64bf4d37f5dff4cba9</string>
</dict>
</plist>